{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/02775f1a3e.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    <header>
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu"><img src="{% static 'icons/menu.png' %}" alt="icono menu"></label>

        <nav class="menu">
            <ul>
                <li><a href={% url 'indexL' %}>Inicio</a></li>
                <li><a href={% url 'fotos' %}>Fotos</a></li>
                <li><a href={% url 'serviciosL' %}>Servicios</a></li>
                <li><a href={% url 'contactoL' %}>Contactos</a></li>
                <li><a href="/diccionario/">Mi perfil</a></li>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>

        </nav>
    </header>
    <div>
        <nav>
            <h1 class="login__titulo">Contactos</h1>

            <ul class="ordencontacto"> <img class="marginicon" src="{% static 'icons/whatsap.png' %}"
                    alt="whatsap">Whatsapp
                <li>+56933572812</li>
            </ul>

            <ul class="ordencontacto"> <img class="marginicon" src="{% static 'icons/facebook.png' %}"
                    alt="FACEBOOK">Facebook
                <li>Oldest High oficial</li>
            </ul>

            <ul class="ordencontacto"> <img class="marginicon" src="{% static 'icons/telefono.png' %}" alt="telefono">
                Oficinas Oldest
                high
                <li>32 33455666</li>
            </ul>

            <ul class="ordencontacto"><img class="marginicon" src="{% static 'icons/insta.png' %}" alt="insta">
                Instagram
                <li>Oldest_High</li>
            </ul>

            <ul class="ordencontacto"><img class="marginicon" src="{% static 'icons/locacion.png' %}" alt="insta">
                Direccion
                <li>Pob. Roosevelt #133</li>
            </ul>
        </nav>
    </div>
    {% endblock body %}
</body>