{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/02775f1a3e.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
    {% endblock head %}
</head>

<body>
    {% block body %}
    <header>
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu"><img src="{% static 'icons/menu.png' %}" alt="icono menu"></label>
    
        <nav class="menu">
             <ul>
                <li><a href={% url 'indexL' %}>Inicio</a></li>
                <li><a href={% url 'fotos' %}>Fotos</a></li>
                <li><a href={% url 'serviciosL' %}>Servicios</a></li>
                <li><a href={% url 'contactoL' %}>Contactos</a></li>
                <li><a href="/diccionario/">Mi perfil</a></li>
                <li><a href="/logout">Cerrar Sesión</a></li>
             </ul>
        </nav>
    </header>

    <section>
        <div class="content-center">
            <h2>Bienvenidos a</h2>
            <h1 class="titulo_index">Oldest High</h1>

            <div class="container">
                <P class="descripcion">
                    Nuestra querida Oldest High entrega el servicio de cuidado especial para nuestros amados abuelitos
                    que
                    sus familias no pueden cuidar o hacerse cargo debido a que es muy difícil por el tipo de antención y
                    tiempo que necesitan.
                <br><br>
                    Nuestro trabajo es hacer que los huespedes se sientan agusto aun no estando en casa.</P>
            </div>

            <form action="{% url 'servicios' %}">
                <input type="submit" class="btnServicios" value="Conoce nuestros servicios">
            </form>
            <br>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'img/carousel1.png' %}" alt="carrusel img1">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'img/carousel2.png' %}" alt="carrusel img2">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'img/carousel3.png' %}" alt="carrusel img3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    {% endblock body %}
    </body>

</html>