{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name = "google-signin-client_id" content = "1009617680157-ch75qermme2vhhk4d2o4ii5svc8faavi.apps.googleusercontent.com">
    <title>Iniciar Sesion</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/02775f1a3e.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    {% endblock head %}
</head>

<body>
    {% block body %}
    <header>
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu"><img src="{% static 'icons/menu.png' %}" alt="icono menu"></label>

        <nav class="menu">
            <ul>
                <li><a href={% url 'index' %}>Inicio</a></li>
                <li><a href={% url 'contacto' %}>Contactos</a></li>
                <li><a href={% url 'logear' %}>Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form class="login" method="POST" action="logn">
            {% csrf_token %}
            <h1 class="login__titulo">Iniciar Sesion</h1>

            <div class="col-12 form-group">
                <input class="login__input" type="email" name="userL" id="userL" placeholder="Correo electronico"
                    required autofocus>
            </div>

            <div class="col-12 form-group">
                <input class="login__input" type="password" name="passwordL" id="passwordL" minlength="8" placeholder="Contraseña"
                    id="passwordL" required>
            </div>

            <input type="submit" class="login__button icon-login" value="Iniciar sesión">
            <button class="btn btn-danger google-btn social-btn boton" onclick="location.href='{%  url 'social:begin' 'google-oauth2' %}'" type="button"><span><i class="fab fa-google-plus-g"></i> o inicia sesión con Google</span> </button>

            <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

            <h6 class="login__no">¿No estas registrado?</h6>
            <h5 class="login__registro"><a href="{% url 'registro' %}">Registrate aqui</a></h5>
        </form>
    </div>

    <script src="{% static 'js/validacion.js'%}"></script>
    {% endblock body %}
</body>

</html