{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/02775f1a3e.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="contenedor">
        <header>
            <input type="checkbox" id="btnMenu">
            <label for="btnMenu"><img src="{% static 'icons/menu.png' %}" alt="icono menu"></label>
        
            <nav class="menu">
                <ul>
                    <li><a href={% url 'indexL' %}>Inicio</a></li>
                    <li><a href={% url 'fotos' %}>Fotos</a></li>
                    <li><a href={% url 'serviciosL' %}>Servicios</a></li>
                    <li><a href={% url 'contactoL' %}>Contactos</a></li>
                    <li><a href="/diccionario/">Perfil</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </header>
        
        <div class="container">
            <div class="div_perfil">
                <div class="titulo">
                    <h1 class="titulotamaño">Datos de usuario</h1>
                </div>
                
                <img class="fotoperfil" alt="foto-usuario" src={% if not avatar %} "{% static 'img/fotoperfil.jpg' %}" {% else %} "{{ avatar.url }}" {% endif %} width="250" height="200">

                <div class="column">
                    <form >
                        {% csrf_token %}
                        <div>
                            <input class="perfil__input" type="text" name="nombreIngreso"
                                id="nombreIngreso" required="required" placeholder="Nombres"  value="{{ nombre }}"  
                                readonly>
                            
                            <input class="perfil__input" type="text" name="apellidosIngreso"
                                id="apellidosIngreso" required="required" placeholder="Apellidos" value="{{ apellido }}" 
                                readonly>
                            
                            <input class="perfil__input" type="text" name="RutIngreso" id="RutIngreso"
                                required="required" placeholder="Rut" value="{{ rut }}" 
                                readonly>
                            
                            <input class="perfil__input" id="correo" type="email" name="correo" title="correo" id="Correo"
                                required="required" placeholder="Correo" value="{{ User }}" 
                                readonly>
                        </div>
                    </form>
                    <button class="botonperfil1" id="btn-abrir-popup" title="Edite sus datos"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn-eliminar" id="btn-abrir-popup2" title="Elimine sus datos"><i class="fas fa-trash-alt"></i></button>                  
                </div>
            </div>
        </div>
        
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup" title="Cerrar sin guardar"><i class="fas fa-times"></i></a>
                <h3>EDITAR DATOS</h3>
        
                <form method="POST" action="/update" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="contenedor-inputs">
                        <input class="imagen-input" value="cambiar foto de perfil" id="imagen" style="visibility:visible;" type="file" name="imagen">

                        <input class="perfil_popup" onkeypress="return full_letras(event)" type="" name="nombreIngreso"
                            id="nombreIngreso" placeholder="Nombres">
                            
                        <input class="perfil_popup" onkeypress="return full_letras(event)" type="text"
                            name="apellidosIngreso" id="apellidosIngreso" placeholder="Apellidos">
                    </div>

                    <input type="submit" class="btn-submit" value="Actualizar datos">
                </form>
            </div>
        </div>
        
          
        <div class="overlay2" id="overlay2">
            <div class="popup2" id="popup2">
                <a href="#" id="btn-cerrar-popup2" class="btn-cerrar-popup2" title="Cerrar sin guardar"><i class="fas fa-times"></i></a>
                <h3>Cuidado</h3>
        
                <form method="POST" action="/delete/">
                    {% csrf_token %}
                    <h3>¿Esta seguro de querer eliminar los datos?</h3>

                    <input type="submit" class="btn-submit2" value="Aceptar">
                    <input type="button" class="btn-cancelar" id="btn-cerrar-popup2" value="Cancelar">
                </form>
            </div>
        </div>
    </div>

    
    <script src="{% static 'js/validacion.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    {% endblock body %}
</body>

</html>