{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/02775f1a3e.js" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    {% endblock head %}
</head>

<body>
    {% block body %}
    <header>
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu"><img src="{% static 'icons/menu.png' %}" alt="icono menu"></label>

        <nav class="menu">
            <ul>
                <li><a href={% url 'index' %}>Inicio</a></li>
                <li><a href={% url 'contacto' %}>Contactos</a></li>
                <li><a href={% url 'logear' %}>Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form class="registro" method="POST" action="formRegistro/">
            {% csrf_token %}
            <h1 class="login__titulo">Crear cuenta</h1>
            <h2 class="registro__subt">Datos de quien ingresará</h2>
            <div>
                <input class="registro__input" id="correo" type="email" name="correo" title="correo" id="Correo"
                    required="required" placeholder="Correo electrónico">

                <input class="registro__input" onkeypress="return full_letras(event)" type="text" name="nombreIngreso"
                    id="nombreIngreso" required="required" placeholder="Nombres">

                <input class="registro__input" onkeypress="return full_letras(event)" type="text"
                    name="apellidosIngreso" id="apellidosIngreso" required="required" placeholder="Apellidos">

                <input class="registro__input" onkeypress="return letraK(event)" type="text" name="RutIngreso"
                    id="RutIngreso" title="Ingrese su rut" required="required" placeholder="Rut">

                <input class="registro__input" type="number" name="Edad" id="Edad" placeholder="Edad" min="18" max="100"
                    required="required" maxlength="2" title="Debe ser mayor de edas (18 años)">

                <input class="registro__input" id="pass1" type="password" name="contrasena" minlength="8"
                    id="contraseña" required="required" placeholder="Contraseña">

                <input class="registro__input" id="pass2" type="password" name="RContraseña" id="RContraseña"
                    minlength="8" required="required" placeholder="Repetir contraseña">
            </div>
            <button type="submit" id="btnRegistrarse" class="registro__button">Registrarse </button>

            <!-- <h2 class="registro__subt2">Datos del encargado</h2>
            <div>
                <input class="registro__input" onkeypress="return full_letras(event)" id="nombre" type="text"
                    name="Nombres" title="Ingrese su nombre" id="Nombres" required>
                <label class="registro__label" for="Nombres">Nombres</label>
                <input class="registro__input" onkeypress="return full_letras(event)" id="apellido" type="text"
                    name="Apellidos" title="Ingrese su apellido" id="Apellidos" required>
                <label class="registro__label" for="Apellidos">Apellidos</label>
                <input class="registro__input" onkeypress="return letraK(event)" id="rut" type="text" name="Rut"
                    title="Ingrese su rut" id="Rut" required>
                <label class="registro__label" for="Rut">Rut</label>
                <input class="registro__input" id="email" type="email" name="Correo" title="Ingrese su correo"
                    id="Correo" required>
                <label class="registro__label" for="Correo">Correo electronico</label>
                <input class="registro__input" type="text" name="Direccion" id="Direccion">
                <label class="registro__label" for="Direccion">Direccion</label>
                <input class="registro__input" id="pass1" type="password" name="contraseña" minlength="8"
                    id="contraseña" required>
                <label class="registro__label" for="contraseña">Contraseña</label>
                <input class="registro__input" id="pass2" type="password" name="RContraseña" id="RContraseña"
                    minlength="8" required>
                <label class="registro__label" for="RContraseña">Confirme su contraseña</label> -->


            <h6 class="login__no">¿Ya estas registrado?</h6>
            <h5 class="login__registro"><a href="{% url 'logear' %}">Inicia sesión</a></h5>
    </div>
    </form>
    </div>

    <!-- <script src="{% static 'js/animacion.js' %}"></script> -->
    <script src="{% static 'js/validacion.js' %}"></script>
    {% endblock body %}
</body>

</html>