{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Servicios</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <script src="https://kit.fontawesome.com/02775f1a3e.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    <header>
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu"><img src="{% static 'icons/menu.png' %}" alt="icono menu"></label>

        <nav class="menu">
            <ul>
                <li><a href={% url 'index' %}>Inicio</a></li>
                <li><a href={% url 'contacto' %}>Contactos</a></li>
                <li><a href={% url 'logear' %}>Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <nav>
            <h1 class="login__titulo">Servicios</h1>
            <ul class="ordenservicio">
                <img class="img" src="{% static 'icons/iconoalimentacion.png' %}" alt="">
                <h3>Alimentacion</h3>
                <li>Servicio de alimentación nutricionalmente balanceado</li>
                <li>supervisacion de nutricionistas</li>
                <li>variedad del menu </li>
                <li>alimentacion especial segun necesidades</li>
            </ul>

            <ul class="ordenservicio">
                <img class="img" src="{% static 'icons/iconoenfermeria.png' %}" alt="">
                <h3>Enfermeria</h3>
                <li>Respuestaa emergencias la 24horas </li>
                <li>Servicios de atencion</li>
                <li>Administracion de medicamentos</li>
                <li>Ayuda de actividades personales</li>
            </ul>

            <ul class="ordenservicio">
                <img class="img" src="{% static 'icons/iconoseguridad.png' %}" alt="">
                <h3>Seguridad</h3>
                <li>Personal de seguridad en accesos</li>
                <li>Camaras de seguridad con circuito cerrado de tv</li>
                <li>Ascensores, rampas y barandas para facilitar trasalados</li>
                <li>Generadores de emergencia</li>
                <li>Salidas de emergencia</li>
            </ul>

            <ul class="ordenservicio">
                <img class="img" src="{% static 'icons/iconoaseo.png' %}" alt="">
                <h3>Aseo y mucama</h3>
                <li>Servicio de housekeeping para la mantencion diaria de las habitaciones</li>
                <li>Lavanderia</li>
                <li>Por cada 3 huespedes hay una mucama</li>
            </ul>

            <ul class="ordenservicio">
                <img class="img" src="{% static 'icons/iconoacitvidades.png' %}" alt="">
                <h3>Actividades</h3>
                <li>Actividades diarias de entretencion</li>
                <li>Terapia ocupacional:estimulacion de habilidades cognitivas, fisicas y sensoriales</li>
                <li>Kinesiologia</li>
                <li>Peluqueria y podologia</li>
            </ul>
        </nav>
    </div>

    {% endblock body %}
</body>

</html>