/*--------------------------GENERALES--------------------------*/
button{
    color: white;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(https://image.freepik.com/foto-gratis/concepto-borroso-asilo-ancianos_23-2147788024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color:#3498db;
    width: 100%;
}
#btnMenu{
    display: none;
}

#btnMenu:hover{
    cursor: pointer;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 7px;
}

header label:hover{
    cursor: pointer;
}

.menu ul{
    margin: auto;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
    transition: .7s ease all;
}

.menu_titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (max-width:760px){
    header label{
        display: block;
        height: 48px;
    }

    .menu{
        top:48px;
        position: absolute;
        background-color: #3498db;
        width: 70%;
        height: 100%;
        margin-left: -70%;
        transition: all 0.5s;
        z-index: 9999;
    }

    .menu ul{
        flex-direction: column;
        text-align: center;
    }

    #btnMenu:checked ~ .menu{
        margin: 0;
    }
}


/*--------------------------WEAS EDUARDO--------------------------*/
.tituloservicio{
    color: white;
    text-align: center;
    font-size: 55px;
    padding: 50px;
}
.ordenservicio{
    color: white;
    float: left;
    margin: 30px;
    list-style: none;

}
.img{
    float: left;
    margin: auto;
}

.size20 {
    font-size: 20px;
}

.size40 {
    font-size: 40px;
}

p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#galeriaa{
width: 100%;
height: auto;
}

.border{
    border-style: inset;
    border: 25px;
} 

.left{
    float: right;
}
/*----------------------FOTOS--------------------------------*/
@media (max-width:650px){
    div.gallery img {
        width: 1000%;
        height: 1000%;
        display:flex;
      }
      div.desc{
        padding-right: 25%;
      }
}

div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    width: 200px;
    float: left;
  }
.galleria__img {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: space-around;
    object-fit: cover;
  }

/*-------------------------FOTOS 2.0------------------------*/
  
.galeria {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
  }
  .galeria__img {
      display: block;
    width: 250px;
    height:150px;
    cursor: pointer;

  } 

  .modaal {
    position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  .modal__img {
    width: 70%;
    max-width: 700px;
  }
  
  .modal__boton {
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    line-height: 50px;
    text-align: center;
    background: #3498db;
    border-radius: 50%;
    cursor: pointer;
    
    position: absolute;
    right: 10px;
    top: 10px;
  }
  @media (min-width:685px) {
      .galeria__img{
        float: none;
        padding-left: 10%;
        padding-right: 10%;
      }
      .galeria{
        flex-wrap: wrap;
      }
      
  }


/*------------------------SERVICIOS-------------------------*/
@media (max-width:760px){
    .ordenservicio{
        float: none;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 20%;
    }
    .img{
        float: none;
        margin-left: 15%;
    }
}
.linea{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*-------------------------CONTACTO---------------------------*/
@media (max-width:650px){
    .ordencontacto{
        padding-left: 25%;
        padding-right: 25%;
    }
    .marginicon{
        margin: none;
    }
}
.ordencontacto{
    color: white;
    float: left;
    margin: 50px;
    list-style: none;
}
.marginicon{
    margin: 10px;
}
/*--------------------------REGISTRO--------------------------*/
.registro{
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1.0);
    position: relative; 
    background-color: rgba(253, 253, 253, 0.123);  
    text-align: center;
}

.registro__titulo{
    text-align: center;
}

/* .registro__input, .registro__label{
    display: block;
    width: 100;
    font-size: 1.3em;
    color: white;
} */

.registro__input{
    color: black;
    padding: 8px;
    border: none;
    margin-bottom: 20px;
    width: 85%;
    height: 35px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    text-align: center;
}

/* .registro__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -75px;
    z-index: -20;
    transition: all 0.2s;
    color: white;
}

.registro__input:focus + .registro__label{
    margin-top: -120px;
}

.quieto{
    margin-top: -110px;
} */

.registro__titulo{
    color: white;
    font-size: 42px;
    text-align: center;
    
}

.registro__subt{
    color: white;
    padding-top: 10px;
}

.registro__subt2{
    color: white;
    padding-top: 50px;
}

.registro__button{
    border: 0px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    font-size: 1.3em;
    transition: .3s ease all;
}

.registro__button span{
    color: white;
    margin-right: 8px;
}

.registro__button:hover{
    background: rgb(53, 121, 167);
}

/*--------------------------LOGIN--------------------------*/
.login{
    width: 450px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1.0);
    position: relative; 
    background-color: rgba(253, 253, 253, 0.123);  
    text-align: center;
}

.login__registro a{
    color: white;

}

.login__titulo{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.login__input, .registro__label{
    display: block;
    width: 100;
    font-size: 1.3em;
}

.login__input{
    background: rgba(255, 255, 255, 0.678);
    padding: 8px;
    border: none;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}

.login__contraseÃ±a{
    padding-left: 170px;
    position: absolute;
    margin-top: -75px;
    z-index: -20;
    transition: all 0.2s;
    color: white;
}

.login__titulo{
    font-size: 42px;
    text-align: center;
    margin-top: 20px;
}

.login__button{
    border: 0px;
    cursor: pointer;
    width: 250px;
    height: 55px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    font-size: 1.3em;
    transition: .3s ease all;
    margin-bottom: 15px;
}

.login__no{
    color: white;  
}


.login__button:hover{
    background: rgb(53, 121, 167);
}

/*-------------------------- Inicio --------------------------*/
.content-center{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.582);
    height: auto;
}

.descripcion{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.6em;
}

.titulo_index{
    font-family: 'Courgette', cursive;
    font-size: 4.3em;
}
h1{
    font-size: 4em;
    font-weight: 600;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
color: white;
}

.btnServicios{
    border: 0px;
    cursor: pointer;
    width: 250px;
    height: 55px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    transition: .3s ease all;
}

.btnServicios:hover{
    background: rgb(53, 121, 167);
}


/*-------------------------- NO REGISTRADO --------------------------*/

.noRegistro{
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1.0);
    position: relative; 
    background-color: rgba(253, 253, 253, 0.123);  
    text-align: center; 
}

/*-------------------------- PERFIL --------------------------*/

.div_perfil{
    width: 900px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1.0);
    position: relative; 
    background-color: rgba(253, 253, 253, 0.123);  
    text-align: center;
}

.titulo{
    color: white;
    text-align: center;
    padding: 3%;
}
.titulotamaÃ±o{
    font-size: 50px;
}
.datos{
    color: white;
    list-style: none;
    font-size: 25px;
    margin: 50px;
}
.datoslist{
    float: right;
    margin: 50px;
    
}
.datoslist1{
    margin:50px;
    margin-left: 25px;
}
.botonperfil1{
    border: 0px;
    cursor: pointer;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    transition: .3s ease all;
}

.botonperfil1:hover{
    background: rgb(53, 121, 167);
}

.btn-eliminar{
    border: 0px;
    cursor: pointer;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    transition: .3s ease all;  
}

.btn-eliminar:hover{
    background: rgb(122, 32, 32);
}

.fotoperfil{
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

li.datoslist1{
   float: left;
}

.perfil__input{
    color: black;
    padding: 8px;
    border: none;
    margin-bottom: 20px;
    width: 40%;
    height: 35px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    text-align: left;
    display: list-item;
}


/* ------------------------- */
/*          POPUP            */
/* ------------------------- */
.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
} 

.overlay.active {
	visibility: visible;
}

.popup h3{
    margin-bottom: 30px;
    opacity: 0;
}

.popup{
    background: #f8f8f8e5;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 1.0);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 500px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;    
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.perfil_popup{
    width: 100%;
    color: black;
    padding: 8px;
    border: 1px solid #BBBBBB;
    margin-bottom: 20px;
    height: 35px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

.imagen-input{
    text-align: center;
    margin-bottom: 20px;
}

.popup form .btn-submit {
    border: 0px;
    cursor: pointer;
    width: 180px;
    height: 38px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    transition: .3s ease all;
}


.popup form .btn-submit:hover {
	background: rgb(53, 121, 167);
}




.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear .5s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/* POP UP ELIMINAR */
.overlay2 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
} 

.overlay2.active {
	visibility: visible;
}

.popup2 h3{
    margin-bottom: 30px;
    opacity: 0;
}

.popup2{
    background: #f8f8f8e5;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 1.0);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 500px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;    
}
.popup2 .btn-cerrar-popup2:hover {
	color: #000;
}

.popup2 form .contenedor-inputs2 {
	opacity: 0;
}

.popup2 form .contenedor-inputs2 input {
    width: 100%;
    color: black;
    padding: 8px;
    border: 1px solid #BBBBBB;
    margin-bottom: 20px;
    height: 35px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

.popup2 form .btn-submit2 {
    border: 0px;
    cursor: pointer;
    width: 180px;
    height: 38px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    transition: .3s ease all;
}

.popup2 form .btn-cancelar{
    border: 0px;
    cursor: pointer;
    width: 180px;
    height: 38px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    transition: .3s ease all;
}


.popup2 form .btn-submit2:hover {
	background: rgb(122, 32, 32);
}

.popup2 form .btn-cancelar:hover {
	background: rgb(53, 121, 167);
}



.popup2.active {	transform: scale(1); opacity: 1; }
.popup2.active h3 { animation: entradaTitulo2 .8s ease .5s forwards; }
.popup2.active .contenedor-inputs2 { animation: entradaInputs2 1s linear .5s forwards; }

@keyframes entradaTitulo2 {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs2 {
	from { opacity: 0; }
	to { opacity: 1; }
}
.popup2 form .btn-cerrar-popup2{
    border: 0px;
    cursor: pointer;
    width: 180px;
    height: 38px;
    text-align: center;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    transition: .3s ease all;
}